@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Rajdhani:wght@300;500;700&display=swap');

:root {
  --bg-color: #050505;
  --text-color: #e0e0e0;
  --accent-color: #00f2ff;
  --secondary-accent: #bc00ff;
  --font-main: 'Rajdhani', sans-serif;
  --font-header: 'Orbitron', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-main);
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
}
